################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularWebApi/bin/Debug/net6.0
/AngularWebApi/obj
